*{
    margin: 0;
}

header{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-around;
    padding: 50px 240px;
}

.banner-title{
    color: #272727;
    font-family: 'Lato', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0px;
}

.btn-banner{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
}